







<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Project</title>
    
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">



</head>

<body>

    <header class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="/" style="font-size: 26px;"><em>Cars Lyfe</em></a>
                    </div>
                </div>

                <div class="col-md-7">
                    <ul class="nav navbar-nav text-center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/blogs">Blog</a></li>
                        <li><a href="/articles/new">Create New Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section id="myCarousel" class="carousel slide post-slider">
        <div class="container">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="post-slider-image"><img  src="/images/image.jpeg"></div>
                    <div class="post-slider-text">
                        <div class="post-slider-title">
                            <h2>Final Semester Project</h2>
                            <p>All about Cars. <br> On this platform you'll get all the information about cars.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>

    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="two-col-sidebar">
                        <% articles.forEach(article => { %>

                        <article class="standard-post-format grid-box">
                            <div class="post-featured-image">
                                <a href="#"><img style="width: 553px; height: 276px;" src="<%= article.imageUrl %>" alt="image"></a>
                            </div>

                            <div class="the-post">
                                <div class="post-title">
                                    <h2><a href="articles/<%= article.id %>"><em><%= article.title %></em></a></h2>
                                </div>
                                <p class="muted_text"><%= article.createdAt.toLocaleDateString() %></p>
                                <div class="post_content">
                                    <p><%= article.description.toString().substring(0,20) %>...</p>
                                    <div class="readmore">
                                        <a href="articles/<%= article.id %>" class="btn">Continue Reading..</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <% }) %>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="follow_us">
                <a href="/" style="font-size: 26px;"><em>Cars Lyfe</em></a>
            <p style="color: black;">This is our Final Semester Project. Hope you'll like it. <br> Thank you <br></p>
                <ul>
                    <li>Muhammad Uzair <b>|</b></li>
                    <li>Syed Attabik Ali Shah <b>|</b></li>
                    <li>Adil Naeem <b>|</b></li>
                    <li>Sheraz Hussain</li>
                </ul>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>